<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Tv Maze Shows</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">TV Maze Shows</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <form class="form-inline my-2 my-lg-0" method="POST" action="/search">
                <label for="searching">
                    <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search Here"
                        id="searching" />
                </label>
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Go</button>
            </form>
            <a id="pop" href="/popularsearches" style="padding-left: 20px;">Popular Searches</a>
        </div>
    </nav>


    {{#if error}}
    <p style="margin-top: 30px; margin-left:40px;"><span class="alert alert-dismissible alert-danger">{{error}}</span>
    </p>
    {{/if}}

    {{{body}}}
</body>

</html>