<div class="container" style="margin-top: 2rem;">
    <ul>
        {{#each popular}}
        <li>
            {{this}}
        </li>
        {{/each}}
    </ul>
    <form class="form-inline my-2 my-lg-0 btn-back" method="GET" action="/back" style="float: bottom;">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Back to Show List</button>
    </form>
</div>