<div class="container" id="showslt" style="margin-top: 2rem;">
    {{#if lt}}
    <ul>
        {{#each lt}}
        <li>
            <a href="/show/{{show.id}}">{{show.name}}</a>
        </li>
        {{/each}}
    </ul>
    {{/if}}
    <form class="form-inline my-2 my-lg-0 btn-back" method="GET" action="/back" style="float: bottom;">
        <button class="btn btn-secondary my-2 my-sm-0" id="back" type="submit">Back to Show List</button>
    </form>
</div>