@import "./bootstrap/scss/bootstrap.scss";
$body-background: rgb(255, 255, 255);
$brand-primary: #999;
$primary-font-size: 14pt;
$secondary-font-size: $primary-font-size / 2.5pt;
$navbar-link: orange;